@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "mr-auto" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">          
            <a class="nav-link" title="Manage" href="@Url.Action("Index", "Manage",null)">Hello @User.Identity.GetUserName()!</a>
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" id="registerLink" href="@Url.Action("Register", "Account",null)">Register</a>         
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loginLink" href="@Url.Action("Login", "Account",null)">Log in</a>
        </li>
    </ul>
}
